<div class="docs-example-viewer-wrapper">
  <h1 class="entry-title">{{ postData.title }}</h1>
  <mat-card-subtitle class="blog-info">
    <i class="fa fa-calendar" aria-hidden="true"></i>
    {{ postData.createdDate | date: "longDate" }}
    <i class="fa fa-user" aria-hidden="true"></i> {{ postData.author }}
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <div class="docs-example-viewer-body">
    <div class="inner-img pb-4">
      <img [src]="postData.imgPost" alt="" />
    </div>
    <div [innerHTML]="content"></div>
  </div>
  <hr />
  <app-comments [blogId]="postId"></app-comments>
</div>
